@{
    ViewBag.Title = "Babajob.com-Better Job For Everyone.sales, Cook, Delivery, Maid, Dataentry, Cashier and more jobs in India. ";
}
<div class="jumbotron text-center">
    <div class="h-header">
        <h1>Better Jobs For Everyone</h1>
        <h3>We connect millions of aspiring job seekers to India's best employers</h3>
    </div>
<div class="row">
    <div class="col-sm-6 text-center">
        <p>
            <p class="text-primary" style="font-size: 18px">Are you an Employer?</p>
            <a class="btn btn-success btn-lg" href="#">Register Here</a>
        </p>
    </div>
    <div class="col-sm-6 text-center">
        <p>
            <p class="text-primary" style="font-size: 18px">Are you a job seeker?</p>
            <a class="btn btn-success btn-lg" href="#">Register Here</a>
        </p>
    </div>
</div>
</div>
<div class="well well-lg text-center">
    <p class="alert-primary" style="font-size: 30px">Choose from over <span style="color: orange">25,00,000</span> jobs
    </p>
</div>
<div class="dropdown text-center" style="font-size: 30px; color:yellowgreen">
    Pick your desired job in
    <select name="City">
        <option value="Bangalore">Bangalore</option>
        <option value="Ahamdabad">Ahamdabad</option>
        <option value="Bhopal">Bhopal</option>
        <option value="Chennai">Chennai</option>
        <option value="Coimbatore">Coimbatore</option>
        <option value="Delhi">Delhi</option>
        <option value="Urnakulam">Urnakulam</option>
        <option value="Erode">Erode</option>
        <option value="Gurgaon">Gurgaon</option>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Indore">Indore</option>
        <option value="Jaipur">Jaipur</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Lucknow">Lucknow</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Nagpur">Nagpur</option>
        <option value="Namakkal">Namakkal</option>
    </select>
    <input type="submit" style="color: orange">
    @*<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span style="color: orange">Bangalore</span><span class="caret"></span></button>
    <ul class="dropdown-menu ">
        <li>Ahamdabad</li>
        <li>Bangalore</li>
        <li>Bhopal</li>
        <li>Chennai</li>
        <li>Coimbatore</li>
        <li>Delhi</li>
        <li>Urnakulam</li>
        <li>Erode</li>
        <li>Gurgaon</li>
        <li>Hyderabad</li>
        <li>Indore</li>
        <li>Jaipur</li>
        <li>Kolkata</li>
        <li>Lucknow</li>
        <li>Mumbai</li>
        <li>Nagpur</li>
        <li>Namakkal</li>
        <li>Noida</li>
        <li>Patna</li>
        <li>Pune</li>
        <li>Rajkot</li>
        <li>Ranchi</li>
        <li>Rangareddy</li>
        <li>salem</li>
        <li>Thane</li>

    </ul>*@
</div>