@{
    ViewBag.Title = "Babajob - Better job for everyone";
}<div id="banner" class="text-center" style="font-size:500%; padding-top: 150px; padding-left: 70px; padding-right: 70px;padding-bottom: 50px"><span style="color: black">Better Job For Everyone</span>
    <h4 style="font-family: courier">We connect millions of aspiring job seekers to India's best employers</h4>

    <div class="row">
        <div class="col-sm-6 text-center" style="padding:5px">
            <p> 
            <p class="text-primary" style="font-size: 18px">Are you an Employer?</p>
            <a class="btn btn-success btn-lg" href="#">Register Here</a>
            </p>
        </div>
        <div class="col-sm-6 text-center">
            <p>
            <p class="text-primary" style="font-size: 18px">Are you a job seeker?</p>
            <a class="btn btn-success btn-lg" href="#">Register Here</a>
            </p>
        </div>
    </div>
</div>
<div id="content">
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>